:root{
    --white: #ffffff;
    --acqua: #7FFFD3;
    --azzure: #6FD1DA;
}

/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILITIES */

.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.bg-azzure{
    background-color: var(--azzure);
}

/* LAYOUT */

body{
    background-color: var(--acqua) ;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

/* HEADER */

.main-header{
    background-color: var(--white);
    height: 80px;
    align-items: center;
    padding: 0 20px;
}

.main-header select{
    padding: 5px;
}

.main-header .play-btn{
    width: 100px;
    padding: 5px;
}

/* MAIN */

.main-content{
    padding: 50px 0;
}

.grid{
    display: flex;
    flex-wrap: wrap;
}

.grid-cell{
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hard{
    width: calc(100% / 10);
    aspect-ratio: 1/1;
}

.medium{
    width: calc(100% / 9);
    aspect-ratio: 1/1;
}

.easy{
    width: calc(100% / 7);
    aspect-ratio: 1/1;
}



